## Python Basic Programming Exercises

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [107]:
# Q1
5 + 4 * 9 % (3 + 1) / 6 - 1
# Python follows PEDMAS for solving and from left to right for same level of operations
5 + 4 * 9 % 4 / 6 - 1      #Parenthesis is solved first
5 + 36 % 4 / 6 - 1 
5 + 0 / 6 - 1              #Multimlication, division, and remainder folows same level so we move from left to right 
5 + 0 -1                   # Addition and subtraction follows same level so we by first adding 0 and the subtracting 1
4

4

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [4]:
# Q2
number = int(input('Enter the number to check whether it is odd or even '))
if (number%2 == 0):
    print('The number is even')
else:
    print('Number is odd')

Enter the number to check whether it is odd or even 10
The number is even

Q3: Write a program to display the multiplication table by taking a number as input. 
    [Hint : Use print statement inside of a loop]

In [7]:
# Q3
number = int(input('Enter the number for table '))
t = 0
t = int(t)
for i in range (1,11):
        t = i * number
        print(number,' *  ', i,' = ', t)

Enter the number for table 5
5  *   1  =  5
5  *   2  =  10
5  *   3  =  15
5  *   4  =  20
5  *   5  =  25
5  *   6  =  30
5  *   7  =  35
5  *   8  =  40
5  *   9  =  45
5  *   10  =  50

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.
 
Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

In [19]:
# Q4
lis = []
# list is created to avoid the last ,
for i in range (2000, 3201):
    if (i % 7 == 0) and (i % 5 != 0):
        lis.append(str(i))
print(', '.join(lis))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [21]:
# Q5
list_1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
string, integer, float_value, boolean = 0, 0, 0, 0
for i in list_1:
    if type(i) == str:
        string += 1
    elif type(i) == int:
        integer += 1
    elif type(i) == float:
        float_value += 1
    else:
        boolean += 1
print('No. of string values = ', string)
print('No. of integer values = ', integer)
print('No. of float values = ', float_value)
print('No. of boolean values = ', boolean)

No. of string values =  4
No. of integer values =  5
No. of float values =  1
No. of boolean values =  2

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [25]:
# Q6
list_1 =  [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
list_2 = []
for i in list_1:
    if (type(i) == int) or (type(i) == float):
        list_2.append(i)
sum(list_2)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [30]:
# Q7
list_1 = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]  
list_2 = []
for i in list_1:
    if type(i) == str:
        list_2.append(i)
print("-".join(list_2))

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [24]:
# Q8
enter_list = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
def my_function(x):
    integer, boolean, float_value, string = [], [], [], []
    for i in x:
        if type(i) == int:
            integer.append(i)
        elif type(i) == float:
            float_value.append(i)
        elif type(i) == str:
            string.append(i)
        else:
            boolean.append(i)

    a = sum(integer) + sum(float_value)    
    b = len(string)
    return {'Sum': a, 'Count_of_Strs': b}

my_function(enter_list)

{'Sum': 21.5, 'Count_of_Strs': 4}

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with filter

In [1]:
# Q9
# 1. Using loop
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
new_list1 = []
for i in li:
    if (i%2 != 0) & (type(i) == int):
        new_list1.append(i)
print(new_list1)

# 2. using list comprehensionp()
new_list2 = [i for i in li if (i%2 != 0)]
print(new_list2)

# 3.Lambda function
list(filter(lambda x: x%2 != 0 , li))

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for a list of n number of input 
    numbers.

In [2]:
# Q10
def descriptives(*args):
    a = 0
    for i in args:
        a = a + i
    b = len(args)
    c = min(args)
    d = a/b
    e = max(args)
    return {'Sum ': a,'Count ': b,'Min ': c,'Mean ': d,'Max ': e}
descriptives(1, 2, 3)

{'Sum ': 6, 'Count ': 3, 'Min ': 1, 'Mean ': 2.0, 'Max ': 3}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

In [31]:
# Q11
      
def area(shape,**kwargs):
    if shape == 'square':
        print(kwargs)
        if 'side' in kwargs.keys():
            return kwargs['side']**2
        else:
            print("Please enter 'side' for a square")
    elif shape == 'rectangle':
        print(kwargs)
        if 'length' in kwargs.keys() and 'breadth' in kwargs.keys():
            return kwargs['length']*kwargs['breadth']
        else:
            print("Please enter 'length' and 'breadth' for a rectangle")
    elif shape == 'circle':
        print(kwargs)
        if 'radius' in kwargs.keys():
            return kwargs['radius']*3.1415
        else:
            print("Please enter 'radius' for a rectangle")
    else:
            print("Supported shapes are square, rectangle or circle") 
            
area(shape = 'circle', radius = 10)

{'radius': 10}

31.415000000000003

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [36]:
# Q12
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']
d1 = {}
def sets(a, b):
    a = set(a)
    b = set(b)
    d1['Matched'] = list(a.intersection(b))
    d1['only in l1'] = list(a - b)
    d1['only in l2'] = list(b - a)
    return d1
sets(l1, l2)

{'Matched': ['December', 'June', 'January', 'February'],
 'only in l1': ['May', 'September', 'March'],
 'only in l2': ['October', 'April']}

Q13: write a UDF to check if a number is prime or not.

In [23]:
# Q13
number = int(input('Enter a number : '))
def prime_check(x):
    if (x == 1):
        return False
    elif (x == 2):
        return True
    else:
        for i in range(2,int(x**0.5) + 1):
            if(x%i == 0):
                return False
        return True             
prime_check(number)

Enter a number : 100001

False

Q14. Write a program which can compute the factorial of a given numbers. 
#   The results should be printed in a comma-separated sequence on a single line. 
# input() function can be used for getting user(console) input


#Suppose the input is supplied to the program:  8  
#Then, the output should be:  40320 
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [37]:
# Q14
number = int(input('Enter the number to find the factorial'))
t = 1
for i in range (1, number + 1):
    t = t * i
print(t)

Enter the number to find the factorial5
120

Q15. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

#Suppose the following input is supplied to the program: 8
#Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider using dict()

In [40]:
# Q15
number = int(input('Enter number for which you want the disctionary of squares'))
dict_1 = {}
for i in range (1, number+1):
    x = i**2
    dict_1[i] = x
print(dict_1)

Enter number for which you want the disctionary of squares5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Q16. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
#Suppose the following input is supplied to the program: 34,67,55,33,12,98
    #Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input. you may use tuple() method to convert list to tuple

In [63]:
# Q16
string = str(input('Enter value in comma separated form '))
print(string.split(sep = ','))
print(tuple(string.split(sep = ',')))

Enter value in comma separated form adx,s,scf,
['adx', 's', 'scf', '']
('adx', 's', 'scf', '')

Q17. Write a program that accepts a comma separated sequence of words as input and 
# prints the words in a comma-separated sequence after sorting them alphabetically.

# Suppose the following input is supplied to the program: without,hello,bag,world
# Then, the output should be: bag,hello,without,world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [62]:
# Q17
text = input('Enter the words in comma separated form. ')
text = text.split(',')
text.sort()
print(text)

Enter the words in comma separated form. bag,hello,without,world
['bag', 'hello', 'without', 'world']

Q18. Write a program that accepts a sequence of whitespace separated words 
# as input and prints the words after removing all duplicate words and sorting them alphanumerically.
# Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again
# Then, the output should be: again and hello makes perfect practice world

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.
#We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [93]:
# Q18
text = str(input('Enter the white separated words. '))
text = list(set(text.split(sep = " ")))
text.sort()
text_sort = ' '
text_sort.join(text)

Enter the white separated words. hello world and practice makes perfect and hello world again

'again and hello makes perfect practice world'

Q19. Write a program that accepts a sentence and calculate the number of upper case 
# letters and lower case letters.
#Suppose the following input is supplied to the program: Hello world!
#Then, the output should be: UPPER CASE 1 LOWER CASE 9

#Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [105]:
# Q19
string = input('Enter words ')
lower = 0
upper = 0
other = 0
for i in string:
    if (i.islower() == True) & (i != ' '):
        lower += 1
    elif (i.isupper() == True) & (i != ' '):
        upper += 1
    else:
        other += 1
print("The number of lowercase characters is:",lower)
print("The number of uppercase characters is:",upper)

Enter words Hello world!
The number of lowercase characters is: 9
The number of uppercase characters is: 1

Q20. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"

In [44]:
# Q20
val = str(input('Enter the sring '))
print(val[::-1])

Enter the sring hunjn
njnuh

In [ ]:
''' ...............................End...................................... '''